{% extends "index_Stage4.html" %}

{% block content %}

<br>

<form method="post" action="/">  
	<h2>Please leave a comment on the notes</h2>
	<br>
	<textarea name="comment"></textarea>
	<br>
	<br>
	<input type='submit'>
	<br>
	<br>

</form>

<table> 
	<tr>
		<td>Comments</td>
	</tr>

	{% for comment in comments %}
		comment = message

    	row = '<tr>\n'
    	row += '<td>' + comment + '</td>\n'
    	row += '</tr>\n'

    	table += row
    		<!-- table += '<table>\n'  -->
    {% endfor %}
</table>

{{ message }}

{% endblock %}
